body
  .content:not(.custom), .page-edit, .page-nav
    max-width: 1024px
  .content:not(.custom) img
    max-width: 700px
    max-height: 500px
    object-fit: scale-down
    @media(max-width 710px)
      max-width 100%
  strong > a {
    font-weight: bold
  }

html.dark
  background-color: $darkPrimaryBg

  body
    color: $darkTextColor !important
    background-color: $darkPrimaryBg

  hr
    border-top-color: $darkBorderColor

  a
    color: $accentColorDark

  .content
    code
      color: $accentColorDark
      background-color: $darkSecondaryBg
    a code
      color: $accentColorDark

  .custom-block
    p:not(.custom-block-title)
      color: $darkTextColor

  tr
    border-top-color: $darkBorderColor
    &:nth-child(2n)
      background-color: $darkSecondaryBg

  th, td
    border-color: $darkBorderColor

  .page-edit
    .edit-link a, .last-updated .prefix
      color: $accentColorDark

  .sidebar
    background-color: $darkPrimaryBg
    border-right-color: $darkBorderColor
    .nav-links
      border-bottom-color: $darkBorderColor
  a.sidebar-link
    color: $darkAltTextColor
    &:hover, &.active
      color: $accentColorDark
      border-left-color: $accentColorDark

  .home
    .hero .description, .feature h2, .feature p
      color: $darkTextColor
    .features
      border-top-color: $darkBorderColor
    .footer
      color: $darkAltTextColor
      border-top-color: $darkBorderColor
    .hero .action a
      background-color: $accentColorDark


  .dropdown-wrapper .nav-dropdown
    background-color: $darkPrimaryBg
    border-color: $darkBorderColor
    h4
      border-top-color: $darkBorderColor
    a
      &:hover, &.router-link-active
        color: $accentColorDark

  .navbar
    color: $darkTextColor
    background-color: $darkPrimaryBg
    border-bottom-color: $darkBorderColor
    .links
      background-color: $darkPrimaryBg
    .site-name
      color: $darkTextColor

  .nav-links a
    color: $darkTextColor
    &:hover, &.router-link-active
      color: $darkTextColor
      border-bottom-color $accentColorDark

  .search-box
    input, .suggestions
      background-color: $darkSecondaryBg;
      border-color: $darkBorderColor;
    input
      color: $darkTextColor;
      &:focus
        border-color: alpha($accentColorDark, 0.75);
    .suggestion
      &.focused
        background-color: $darkPrimaryBg;
        a
          color: $accentColorDark;
      a
        color: $darkAltTextColor;

  .page-nav .inner
    border-top-color: $darkBorderColor

  .sw-update-popup
    background-color: $darkPrimaryBg

  .custom-block
    &.tip
      color: lighten($tipGreen, 50%)
      background-color: alpha($tipGreen, 0.25)
      .custom-block-title
        color: lighten($tipGreen, 20%)
    &.warning
      color: lighten($warningYellow, 40%)
      background-color: alpha($warningYellow, 0.25)
      .custom-block-title
        color: darken($warningYellow, 20%)
      a
        color: darken($warningYellow, 10%)
    &.danger
      color: lighten($dangerRed, 50%)
      background-color: alpha($dangerRed, 0.25)
      .custom-block-title
        color: lighten($dangerRed, 30%)
      a
        color: lighten($dangerRed, 20%)