// dark theme colors
$darkPrimaryBg = #2B2B2B;
$darkSecondaryBg = #313335;
$darkTextColor = #DFE0E1;
$darkAltTextColor = #b9b9b9;
$darkBorderColor = alpha(#fff, 0.2);

$tipGreen = #42b983;
$warningYellow = #ffe564;
$dangerRed = #c00;

$accentColor = #0609e0;
$accentColorDark = #1E92FF;
